.full {
  width: 100%;
}

.gap {
  height: 1.875rem;
  width: 100%;
  clear: both;
  display: block;
}

.footer {
  background: #002147;
  height: auto;
  padding-bottom: 1.875rem;
  position: relative;
  width: 100%;
  border-bottom: .0625rem solid #CCCCCC;
  border-top: .0625rem solid #DDDDDD;
}

.link-list {
  margin-top: 2%;
}

.footer-header {
  margin-top: 10%;
  color: white;
}

.contact-list {
  margin-top: 1%;
}

.footer p {
  margin: 0;
}

.footer img {
  max-width: 100%;
}

.footer h3 {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6875rem;
  padding: 2.5rem 0rem 0rem;
  text-transform: uppercase;
  margin-bottom: .9375rem;
}

.footer h4 {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.375rem;
  padding: 2.5rem 0rem .625rem;
  font-family: cursive;
  font-weight: lighter;
}

.footer ul {
  font-size: .8125rem;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0rem;
  color: #7F8C8D;
  padding: 0 0 8px 0;
}

.email{
  border-bottom: .1875rem solid #fff;
  color: white;
}

.footer ul li a {
  padding: 0 0 .75rem 0;
  display: block;
}

.footer a {
  color: white;
  font-weight: lighter;
}

.footer p {
  color: white;
  font-weight: lighter;
  font-size: 1.5625rem;
}

.footer a:hover {
  text-decoration:none;
  font-weight: bold;
}

.supportLi h4 {
  font-size: 1.25rem;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 .0625rem 0 #B4B3B3;
}

.footer a {
  color: #78828D
}

.footer-bottom {
  margin-top: 2rem;
  border-top: .0625rem solid #DDDDDD;
  padding-top: 1.25rem;
  padding-bottom: .625rem;
}
.footer-bottom p.pull-left {
  padding-top: .375rem;
  font-size: 0.75rem
}

@media only screen and (max-width: 2560px) {
  .footer-header {
    margin-top: 12%;
  }
  .link-list {
    margin-top: 5%;
  }
  .contact-list {
    margin-top: 3%;
  }
}

@media only screen and (max-width: 1440px) {
  .footer-header {
    margin-top: 12%;
  }
  .link-list {
    margin-top: 5%;
  }
  .contact-list {
    margin-top: 3%;
  }
}

@media only screen and (max-width: 1024px) {
  .footer-header {
    margin-top: 13%;
  }
  .link-list {
    margin-top: 5%;
  }
  .contact-list {
    margin-top: 3%;
  }
}

@media only screen and (max-width: 991px) {
  .footer h1 {
    font-size: 1.8rem;
  }
  .footer-header {
    margin-top: 17%;
  }
}

@media only screen and (max-width: 901px) {
  .footer h5 {
    font-size: .95rem;
  }
  .link-list {
    margin-top: 7%;
  }
}

@media only screen and (max-width: 768px) {
  .footer h1 {
    font-size: 1.4rem;
  }
  .footer h5 {
    font-size: 1rem;
  }
  .email {
    font-size: .7rem;
  }
  .link-list {
    margin-top: 5%;
  }

  .footer-header {
    margin-top: 21%;
  }

  .contact-list {
    margin-top: 1%;
  }
}

@media only screen and (max-width: 768px) {
  .footer h5 {
    font-size: .9rem;
  }
  .link-list {
    margin-top: 8%;
  }
}

@media only screen and (max-width: 665px) {
  .footer h1 {
    font-size: 1.2rem;
  }
  .footer-header {
    margin-top: 21%;
  }
  .email {
    font-size: 1rem;
  }
  .contact-list {
    margin-top: 1%;
  }
  .footer h5 {
    font-size: .68rem;
  }
  .link-list {
    margin-top: 8%;
  }
}

@media only screen and (max-width: 575px) {
  .footer h1 {
    font-size: 1.4rem;
  }
  .footer-header {
    margin-top: 15%;
  }
  .email {
    font-size: 1.2rem;
  }
  .footer h5 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 320px) {
  .footer h1 {
    font-size: 2rem;
  }
  .footer h5 {
    font-size: 1rem;
  }
  .email {
    font-size: 1rem;
  }
}
