<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-nowrap footer-header center">
            <h1>Justin's Website</h1>
        </div>
        <div class="col-sm-4 text-nowrap contact-list">
          <h3>Contact</h3>
          <ul>
              <li><a class="email">jst.valen@gmail.com</a></li>
              <br>
              <li><a class="email">(559)-731-5551</a></li>
          </ul>
        </div>
        <div class="col-sm-4 text-nowrap link-list center">
          <ul>
              <li><h5><a href="https://justinvalen.com/home#AboutMe">ABOUT ME</a></h5></li>
              <li><h5><a href="https://justinvalen.com/home#WhereAmINow"> WHERE AM I NOW? </a> </h5></li>
              <li><h5><a href="https://justinvalen.com/home#WhatTechDoIKnow"> WHAT TECHNOLOGY DO I KNOW? </a> </h5></li>
              <li><h5><a href="https://justinvalen.com/home#HistoryAboutMe"> HISTORY ABOUT ME </a> </h5></li>
              <li><h5><a href="https://justinvalen.com/home#ContactMe"> CONTACT INFO </a> </h5></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
      <div class="container center">
          <p class="pull-left copyright"> Copyright © Me, until forever.</p>
      </div>
  </div>
</footer>
