<h1 class="center about-me-header">About Me</h1>

<div class="about-me-text-box white">
  <p class="about-me-paragraph-font">
  Hello and thank you for taking your time to read this section. I am Justin Valenzuela a recent
  graduate from California State University, Sacramento. I have experience in front-end web development and
  have an interest in data science. Data science is what I concentrated in while in my computer science program
  and is why I choose to blend these interests by making this site that house some of my post grad projects.
  </p>
  <br>
  <p class="about-me-paragraph-font">
  That being said I have always had a passion for learning and trying to improve my professional skills. Since graduating
  college I have focused on trying to bolster my knowledge in front-end web development and data analysis. Taking
  numerous online courses and creating mini-projects to implement the techniques and methods I had learned. It
  is always my goal to be proficient in what I do and to do it with care. I am invested in my work and wish to
  be an integral part to any team I am apart of.
  </p>
  <br>
  <p class="about-me-paragraph-font">
  It is with that mindset that led to the creation this site. I sought out to learn and implement a web
  stack. It is here that I accomplished that goal. This site uses an Angular 8 frontend and a serverless Mock API backend that services my data science
  projects. I spent many hours reading the Angular documention and went through all their tutorials including
  their <i>'Tour of Heroes app'</i>. I believe I came out of this project with a wealth of knowledge about Typescript, Angular,
  and most importantly a far better understanding of how front-end architecture and frameworks work.
  </p>
  <br>
  <p class="about-me-paragraph-font">
  As of right now I am currently looking for a position that can provide challenges to learn and has potential for growth in my young professional career. I am willing and eager to go the
  distance and put in time to get things done.
  </p>
  <br>
  <p class="about-me-paragraph-font">
  Thank you for taking the time to read more about me and this site. Please feel free to reach out to me at my email jst.valen@gmail.com if you have any additional questions.
  </p>
</div>
