.wrap {
  display: inline-flex;
}

.small-container {
  max-width: 10%;
}

.navbar-nav {
  flex-direction: row;
  display: flex;
}

.navbar-expand-md {
  justify-content: flex-start;
}

@media only screen and (max-width: 2560px) {
  .navbar-header .header-styles {
    font-size: 1.10rem;
  }

  .navbar-nav .nav-item {
    padding-right: 1rem;
    font-size: 1.05rem;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-header .header-styles {
    font-size: 1.10rem;
  }

  .navbar-nav .nav-item {
    padding-right: 1rem;
    font-size: 1.05rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-header .header-styles {
    font-size: 1.05rem;
  }

  .navbar-nav .nav-item {
    padding-right: 1rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-header .header-styles {
    font-size: 1rem;
  }

  .navbar-nav .nav-item {
    padding-right: 1rem;
    font-size: .95rem;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-header .header-styles {
    font-size: .95rem;
  }

  .navbar-nav .nav-item {
    padding-right: 1rem;
    font-size: .85rem;
  }
}

@media only screen and (max-width: 451px) {
  .navbar-header .header-styles {
    font-size: .90rem;
  }
  .navbar-nav .nav-item {
    padding-right: 1rem;
    font-size: .87rem;
  }
}

@media only screen and (max-width: 400px) {
  .navbar-header .header-styles {
    font-size: .85rem;
  }
  .navbar-nav .nav-item {
    padding-right: 1rem;
    font-size: .80rem;
  }
}

@media only screen and (max-width: 294px) {
  .navbar-header .header-styles {
    font-size: .75rem;
  }
  .navbar-nav .nav-item {
    padding-right: .80rem;
    font-size: .70rem;
  }
}

