<div class="card-deck justify-content-center">
  <div class="card bg-secondary text-light projects-cards">
    <img class="card-img-top" src="{{laImage}}" alt="Image of LA Freeway">
    <div class="card-body">
      <h5 class="card-title">LA Traffic Project</h5>
      <p class="card-text">An in depth analysis of LA traffic and statistics on demographics in the data set.</p>
      <a routerLink="./la-traffic-project" class="btn btn-primary z-value">View Project</a>
    </div>
  </div>
  <div class="card bg-secondary text-light projects-cards">
    <img class="card-img-top" src="{{titanicImage}}" alt="Image of Titanic">
    <div class="card-body">
      <h5 class="card-title">Titanic Exploratory Data Analysis</h5>
      <p class="card-text">Exploring demographic data about those who sailed on the Titanic's final journey.</p>
      <a routerLink="./titanic-eda" class="btn btn-primary z-value">View Project</a>
    </div>
  </div>
</div>
