<div class="card-container">
  <div class="card-columns card-styles">
    <div class="card bg-secondary text-light">
      <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/justinvalen.com/assets/downtown%2Blos%2Bangeles%2Brush%2Bhour%2Btraffic%2Bjam%2Bcar%2Bsunset%2Btimelapse.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">LA Traffic Project</h5>
        <p class="card-text">An in depth analysis of LA traffic and statistics on demographics in the data set.</p>
        <a routerLink="./la-traffic-project" class="btn btn-primary z-value">View Project</a>
      </div>
    </div>

    <div class="card bg-secondary text-light">
      <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/justinvalen.com/assets/rms-titanic-wallpaper_620064240.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titanic Exploratory Data Analysis</h5>
        <p class="card-text">Exploring demographic data about those who sailed on the Titanic's final journey.</p>
        <a routerLink="./titanic-eda" class="btn btn-primary z-value">View Project</a>
      </div>
    </div>
  </div>
</div>
<app-footer>
</app-footer>
