.jumbo-resize {
  display: block;
  margin: auto;
  margin-top: 5rem;
  max-width: 90rem;
  max-height: fit-content;
}

h1 {
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  display: block;
}

.para-space {
  margin-top: 2rem;;
}

.list-style {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
  text-align: center;
}

.list-width {
  max-width: 80%;
  margin: auto;
  text-align: left;
}

.container-width {
  max-width: 95%;
}
