<div class="nav-bar-container"></div>
<div *ngIf="FrontPageImage">
  <img src="{{FrontPageImage}}" alt="Picture of Justin Valenzuela" class="home-page-img">
</div>

<h1 class="center main-page-border">Hello and Welcome to my Website!</h1>

<p class="center transparent-container main-page-font white">
  I am Justin Valenzuela, a young aspiring Software Engineer. This site was made to host additional information
  that may prove useful to hiring managers and recruiters. This information can be found on the about me page. <br><br> This site is also where I am hosting data science projects
  that use many of my core skills that I have listed on my resume and I would like to invite you to explore them. You will find links to them
  on the navigation bar at the top of this page under projects.
</p>


