.image-container {
  width: 20rem;
  height: auto;
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.jumbo-resize {
  max-width: 50%;
  height: auto;
  margin: auto;
  margin-top: 5%;
}

.jumbotron h1 {
  font-size: 3.125rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  display: inline-block;
}

.jumbotron p {
  font-size: 1rem;
}

.header-text-container {
  width: 100%;
  display: block;
  position: relative;
  font-size: 1rem;
}

.btn {
  margin: 1rem;
  display: inline-block
}

.b-color {
  background: #002147;
}

.button-layout {
  text-align: center;
}

.jumbo-margins {
  margin-top: 3%;
}

.offset:before {
  display: block;
  content: " ";
  height: 56px;      /* Give height of your fixed element */
      margin-top: -56px; /* Give negative margin of your fixed element */
      visibility: hidden;
}




@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 451px) {
  .jumbo-resize {
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-top: 11%;
  }
  .image-container {
    width: 12rem;
    height: auto;
    position: relative;
    display: inline-block;
  }
  .header-text-container p {
    font-size: 1rem;
  }
  .jumbotron {
    max-width: 100%;
  }
  .jumbo-margins {
    margin-top: 0%;
  }
  .btn {
    margin: .4rem;
  }
  .button-layout {
    text-align: none;
  }
}


@media only screen and (max-width: 280px) {
  .jumbo-resize {
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-top: 15%;
  }
  .image-container {
    width: 10rem;
    height: auto;
    position: relative;
    display: inline-block;
  }
  .jumbotron {
    max-width: 100%;
  }
  .jumbo-margins {
    margin-top: 0%;
  }
  .jumbotron h1 {
    font-size: 1.875rem;
  }
  .jumbotron h1 {
    font-size: 1.875rem;
  }
  .btn {
    margin: 1rem;
  }
  .button-layout {
    text-align: none;
  }
}

