.image-container {
  width: 20rem;
  height: auto;
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.jumbo-resize {
  max-width: 50%;
  height: auto;
  margin: auto;
  margin-top: 5%;
}

.jumbotron h1 {
  font-size: 3.125rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  display: inline-block;
}

.jumbotron p {
  font-size: 1rem;
}

.header-text-container {
  width: 100%;
  display: block;
  position: relative;
  font-size: 1rem;
}

.btn {
  margin: 1rem;
  width: 9rem;
}

.b-color {
  background: #002147;
}

.button-layout {
  width: 100%;
  display: block;
  text-align: center;
}

.jumbo-margins {
  margin-top: 3%;
}

.offset:before {
  display: block;
  content: " ";
  height: 56px;      /* Give height of your fixed element */
      margin-top: -56px; /* Give negative margin of your fixed element */
      visibility: hidden;
}


@media only screen and (max-width: 1440px) {
  .jumbo-resize {
    max-width: 75%;
    height: auto;
    margin: auto;
    margin-top: 2%;
  }
  .image-container {
    width: 15rem;
    height: auto;
    position: relative;
    display: inline-block;
  }
  .jumbo-margins {
    margin-top: 2%;
  }
  .btn {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 2560px) {
  .jumbo-resize {
    max-width: 30%;
    height: auto;
    margin: auto;
    margin-top: 1%;
  }
  .image-container {
    width: 15rem;
    height: auto;
    position: relative;
    display: inline-block;
  }
  .jumbo-margins {
    margin-top: 2%;
  }
  .btn {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1920px) {
  .jumbo-resize {
    max-width: 35%;
    margin-top: 1%;
  }
  .image-container {
    width: 14rem;
  }
}

@media only screen and (max-width: 1024px) {
  .jumbo-resize {
    max-width: 70%;
  }
  .image-container {
    width: 14rem;
  }
}

@media only screen and (max-width: 768px) {
  .jumbotron {
    max-width: 100%;
  }
  .jumbo-resize {
    max-width: 100%;
    margin-top: 2%;
  }
  .image-container {
    width: 13rem;
  }
  .jumbo-margins {
    margin-top: 0%;
  }
}

@media only screen and (max-width: 480px) {
  .jumbo-resize {
    margin-top: 7%;
  }
  .image-container {
    width: 12rem;
  }
  .btn {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 280px) {
  .jumbo-resize {
    margin-top: 15%;
  }
  .image-container {
    width: 10rem;
  }
  .jumbotron h1 {
    font-size: 1.875rem;
  }
}

