/* You can add global styles to this file, and also import other style files */


html {
  scroll-behavior: smooth;
}

p, .p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

body {
  background: rgba(59, 47, 14, 0.39);
  //background: url(https://s3-us-west-2.amazonaws.com/justinvalen.com/assets/background-board-carpentry-construction-301378.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
