.jumbo-resize {
  display: block;
  margin: auto;
  margin-top: 5rem;
  max-width: 90rem;
  max-height: auto;
}

.jumbotron h1 {
  font-size: 3.125rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  display: block;
}

.para-space {
  margin-top: 5%;
}

.list-style {
  -webkit-column-count: 2;
  -webkit-column-gap: 1rem;
  -moz-column-count: 2;
  -moz-column-gap: 1rem;
  column-count: 2;
  column-gap: 1rem;
  text-align: center;
}

.list-width {
  max-width: 80%;
  margin: auto;
  text-align: left;
}

.image-container {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.jumbo-margins {
  margin-top: 2%;
}

@media only screen and (max-width: 2560px) {
  .jumbotron {
    max-width: 90%;
    max-height: auto;
  }
  .jumbotron h1 {
    font-size: 3rem;
  }
  .jumbotron p {
    font-size: 1.2rem;
  }
  .jumbo-resize {
    margin-top: 4%;
    max-height: auto;
  }
  .list-width {
    max-width: 100%;
    text-align: left;
  }
  .desktop-container {
    text-align: center;
  }
  .image-container {
    width: 80%;
  }
  .jumbo-margins {
    margin-top: 2%;
  }
  .list-style {
    -webkit-column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-count: 3;
    -moz-column-gap: 1rem;
    column-count: 3;
    column-gap: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .jumbotron {
    max-width: 100%;
  }
  .jumbotron h1 {
    font-size: 2.2rem;
  }
  .jumbo-resize {
    margin-top: 8%;
    max-height: auto;
  }
  .image-container {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .jumbotron {
    max-width: 100%;
  }
  .jumbo-resize {
    margin-top: 2%;
    max-height: auto;
  }
  .image-container {
    width: 75%;
  }
  .jumbo-margins {
    margin-top: 0%;
  }
}

@media only screen and (max-width: 576px) {
  .jumbotron {
    max-width: 100%;
  }
  .jumbo-resize {
    margin-top: 6%;
    max-height: auto;
  }
  .list-style {
    -webkit-column-count: 2;
    -webkit-column-gap: 1rem;
    -moz-column-count: 2;
    -moz-column-gap: 1rem;
    column-count: 2;
    column-gap: 1rem;
  }
  .desktop-container {
    text-align: left;
  }
  .image-container {
    width: 100%;
  }
  .jumbo-margins {
    margin-top: 0%;
  }
}

@media only screen and (max-width: 480px) {
  .jumbotron {
    max-width: 100%;
  }
  .jumbo-resize {
    margin-top: 5.5%;
  }
  .jumbo-margins {
    margin-top: 0%;
  }
}

@media only screen and (max-width: 400px) {
  .jumbotron p {
    font-size: 1rem;
  }
  .jumbo-resize {
    margin-top: 6%;
  }
  .jumbo-margins {
    margin-top: 0%;
  }
}

@media only screen and (max-width: 294px) {
  .jumbo-resize {
    margin-top: 7%;
  }
  .jumbo-margins {
    margin-top: 0%;
  }
}
